{% extends "admin/change_list.html" %}
{% load i18n static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'admin/css/event_changelist.css' %}">
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script src="{% static 'admin/js/event_changelist.js' %}" defer></script>
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate "Home" %}</a>
    &rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
  </div>
{% endblock %}
